@import url("https://fonts.googleapis.com/css2?family=Montaga&family=Poppins:wght@200;400;600&display=swap");
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 13vmax;
  padding: 2vmax 1vmax;
}
.main {
  background-image: url("/images/homebg1.jpg");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-main {
  height: 100vh;
  width: 100%;
  background-color: rgba(29, 29, 29, 0.556);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 95vh;
  width: 95%;
  background-color: rgb(255, 255, 255);
  border-radius: 0.8vmax;
  display: flex;
}

.taskbar {
  display: flex;
  background-color: #bfdcb5;
  height: 100%;
  width: 15%;
  border-top-left-radius: 0.8vmax;
  border-bottom-left-radius: 0.8vmax;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notes-content {
  position: relative;
  height: 100%;
  width: 85%;
  border-radius: 0.8vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("/images/input-bg.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
}

.header {
  height: 10%;
}

.notes-content ul {
  position: absolute;
  width: 96%;
  height: 81%;
  margin-top: 5vmax;
}

.notes-content ul li {
  background-color: #e4ffdde5;
  margin: 0.5vmax 0;
  height: 12%;
  border-radius: 0.4vmax;
  font-family: "Poppins", sans-serif;
  color: #696767e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vmax;
  backdrop-filter: blur(2px);
}

.notes-content ul li div h1 {
  color: #3e7c1f;
  font-size: 1.5vmax;
  font-weight: 900;
}

.notes-content ul li div p {
  font-size: 0.9vmax;
}

.icons {
  display: flex;
  gap: 1vmax;
}

.erase-icon:hover {
  transform: scale(1.15);
}

.star-icon {
  transition: all 0.5s ease;
}

.star-icon:hover {
  color: rgb(244, 221, 12);
}

.completed-icon:hover {
  transform: scale(1.15);
}

.add-task-btn {
  position: relative;
  z-index: 10;
  background-color: rgba(1, 1, 1, 0.509);
  height: 9%;
  width: 96%;
  border-radius: 0.4vmax;
  margin: 1vmax;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 0 1.7vmax;
  cursor: pointer;
  transition: all 0.5s ease;
  flex-direction: column;
  backdrop-filter: blur(5px);
}

.add-task-btn:hover {
  background-color: rgba(1, 1, 1, 0.697);
  transform: scale(0.98);
}

.expanded:hover {
  transform: scale(1);
  background-color: rgba(1, 1, 1, 0.509);
}

.add-btn {
  display: flex;
  gap: 1.4vmax;
  align-items: center;
  width: 100%;
}

.form {
  display: none;
  width: 100%;
  height: 90%;
}

.add-task-btn span {
  font-size: 2.2vmax;
}

.add-task-btn h1 {
  font-size: 1.2vmax;
}

.completed{
  text-decoration: line-through;
}
